.user__card {
    width: 25rem;
    box-shadow: #0000003d 0px 3px 8px;
    background-color: var(--background-color-light2);
}

.user__img {
    width: 100%;
    height: 15rem;
    padding-top: 1rem;
    background-color: var(--background-color-light1);
}

.user__details-container {
    padding: 1rem;
    gap: 0.5rem;
}

.text__large {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color-light1);
}

.text__small {
    font-size: 1.2rem;
    color: var(--text-color-light2);
}

.user__details {
    gap: 0.5rem;
}

.material-icons-outlined.icon {
    font-size: 1.6rem;
    color: var(--text-color-light2);
    font-weight: 600;
}

.user__choices {
    width: 100%;
    align-items: center;
    padding: 1rem 0;
    justify-content: center;
    background-color: var(--background-color-light1);
    cursor: pointer;
}

.user__choices>.material-icons-outlined.icon {
    font-size: 2.2rem;
    padding: 0 3rem;
}

.edit {
    border-left: 1px solid var(--text-color-light3);
    border-right: 1px solid var(--text-color-light3);
}

.material-icons.favorite {
    font-size: 2.2rem;
    color: var(--accent-color2);
    font-weight: 600;
    padding: 0 3rem;
}

.modal__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000001b;
    justify-content: center;
}

